header .container {
  height: 80px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-black0;
}
nav.header {
  // 導覽列貼齊兩端
  justify-content: space-between;
}
.page_logo {
  max-width: 245px;
  padding: 20px 0;
}
.nav-menu {
  gap: 20px;
  padding: 16px 0;
  li {
    font-weight: 700;
    font-size: $font-size;
    // 讓a標籤可以在li中置中
    display: flex;
    align-items: center;
  }
  a {
    // inline-block才能撐開空間
    display: inline-block;
    padding: 12px 0;
    line-height: 1.5;
  }
}
