.section6 {
  border-top: 1px solid $color-black0;
  padding-top: 80px;
  padding-bottom: 80px;
  // padding: 80px 12px;
  justify-content: space-between;
  .txt {
    li{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    a {
      font-size: $font-size * 5;
      font-weight: 900;
    }
  }
  .logo {
    max-width: 245px;
  }
}
