.AI {
  margin: 0;
  background-color: $color-black0;
  border-radius: $font-size * 10;
  margin-bottom: 87px;
}
.section4 {
  margin-left: 12px;
  margin-right: 12px;
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $color-black100;
  }
  .container {
    padding-top: $font-size * 10;
    padding-bottom: $font-size * 10;
  }
  h2 {
    font-size: $font-size * 5;
    text-align: center;
    margin-bottom: $font-size * 5;
  }
}
// 搜尋列
.search {
  margin-bottom: 24px;
  background-color: $color-black20;
  border-radius: $font-size;
  min-height: $font-size * 4;
  align-items: center;
  gap: 12px;
  input[type="image"],
  input[type="search"] {
    height: 100%;
    background-color: transparent;
    border: none;
  }
  input[type="image"] {
    padding-left: 40px;
  }
  input[type="search"] {
    font-size: $font-size;
    line-height: 1.5;
    // max-width: 100%;
    flex-grow: 1;
  }
}
// AI工具導覽
.AI_nav {
  margin-bottom: 40px;
  justify-content: space-between;
  a {
    display: block;
    line-height: 1.5;
  }
}
// 導覽列按鈕
.AInav_btn {
  padding: 20px 32px 20px 40px;
  border: 1px solid $color-black20;
  border-radius: $font-size;
}
// AI工具導覽分類
.AI_class {
  gap: 8px;
  li {
    display: flex;
    align-items: center;
    a {
      padding: 8px 16px;
      border-radius: $font-size;
      color: $color-black60;
      &:hover {
        color: $color-black100;
        background-color: $color-black20;
        font-weight: 700;
      }
    }
  }
  // 當在該頁面的時候顯示有效果
  .active a {
    color: $color-black100;
    background-color: $color-black20;
    font-weight: 700;
  }
}
// AI工具卡片
.AI_cards {
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.card {
  flex-direction: column;
  // 設定寬度計算，確認以便wrap計算一行要幾個
  max-width: calc((100% - 48px) / 3);
  // min-height: 558px;
  border: 1px solid $color-black20;
  border-radius: $font-size;
  overflow: hidden;
  & > div:not(:first-child) + div {
    border-top: 1px solid $color-black20;
  }
  .flex {
    justify-content: space-between;
  }
}
.card_pic {
  overflow: hidden;
  height: 312px;
  img {
    height: 100%;
    &:hover {
      transition: 0.3s;
      transform: scale(1.2, 1.2);
    }
  }
}
.card_txt,
.AI_developer,
.AI_hashtag {
  padding: 20px 32px;
}
.card_txt {
  min-height: 118px;
  h6 {
    margin-bottom: 12px;
  }
}
.AI_developer_title {
  font-weight: 700;
}

// 頁數
.pages {
  gap: 4px;
  justify-content: end;
  li {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: $font-size;
      color: $color-black100;
      font-weight: 700;
      // 讓文字水平垂直置中
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:not(:last-child):hover a {
      color: $color-black0;
      background-color: $color-black100;
    }
    &:last-child:hover a {
      background-color: $color-black40;
    }
  }
  // 當在active頁面的時候顯示顏色
  .active {
    background-color: $color-black100;
    color: $color-black0;
  }
}
.dt_display_none {
  display: none;
}
