.section6 {
  border-top: 1px solid $color-black0;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  @include mobile {
    // 手機板排序相反
    flex-direction: column-reverse;
    gap: 40px;
    align-items: start;
  }
  .txt {
    flex-direction: column;
    align-items: center;
    a {
      font-size: $font-size * 5;
      font-weight: 900;
      @include mobile {
        font-size: $font-size * 3;
      }
    }
  }
  .logo {
    max-width: 245px;
  }
}
