$color-black100: #020202;
$color-black80: #525252;
$color-black60: #919191;
$color-black40: #d1d1d1;
$color-black20: #f2f2f2;
$color-black0: #ffffff;
$color-primary: #f18724;
$color-surface: #f2efe7;

$font-size: 16px;
